<?xml version="1.0"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Sunrise Stream Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="STREAM_FACTORY" value="Sunrise\Stream\StreamFactory"/>
    </php>
</phpunit>
